.container1 {
  width: 100% !important;
  height: 35vh !important;
  border-radius: 25px;
}

p {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.content-tittle {
  width: 100% !important;
  height: 25vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-buttons {
  width: 70% !important;
  height: auto !important;
  display: flex;
  justify-content: space-between;
}

.content-buttons-before {
  width: 100% !important;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.router-register {
  cursor: pointer;
  color: #1E408F;
  font-weight: bold;
}

.router-register:hover {
  color: #2147BD;
  font-weight: bold;
}

.router-login {
  cursor: pointer;
  color: #21BD23;
  font-weight: bold;
}

.router-login:hover {
  color: #24D02C;
  font-weight: bold;
}
