<div class="container1">
  <div   style="background-image: url('https://api.reconocimientojusticiaydesarrollo.org/images/basic/Logo2.png')">
    <div class="content-tittle" >
      <p>Te invitamos a que te suscribas o inicies sesión para participar en el foro y disfrutar de nuestro contenido
        multimedia</p>
    </div>
    <div class="content-buttons-before">
    <div class="content-buttons">
<!--      <a  class="router-register" (click)="openDialogregistrer()">Subscribete</a>-->
<!--      <a class="router-login" (click)="openDialoglogin()">Iniciar sesión</a>-->
    </div>
    </div>
  </div>
</div>
