.btnclsalir {
  width: 100% !important;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.card-body {
  width: 100% !important;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.containerimg {
  width: 50% !important;
  height: auto !important;
}

.containertext {
  width: 50% !important;
  height: auto;
}

p {
  text-align: justify;
}

.imagen-styles {
  width: 96% !important;
  height: auto !important;
}
