<div>
  <div class="btnclsalir">
    <a class="btnclosed" type="button" (click)="onNoClick()">
      <svg class="x-29px_svg__svgIcon-use" width="29" height="29">
        <path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62"
              fill-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</div>
<div class="container">
  <div class="card-body">
    <div class="containerimg">
      <div class="imagen-styles">
        <img class="psico" alt="" src="https://api.reconocimientojusticiaydesarrollo.org/images/albums/01.jpg"
             width="420px">
      </div>
    </div>
    <div class="containertext">
      <p>La psicóloga Ana Isabel Hurtado Cuéllar, egresada de la Universidad San Buenaventura de Cali. Cuenta con un
        Diplomado Facilitación de trabajo con grupos, Seminario Herramientas para la Intervención Clínica, y Seminario
        de Resiliencia y Vínculo Afectivo. Con experiencia por medio de Práctica Profesional en salud mental en el
        Hospital Departamental Psiquiátrico Universitario del Valle, en donde realizo acompañamiento psicológico a
        pacientes con trastornos tales como: depresión, ansiedad, conductas suicidas, trastornos del comportamiento
        relacionado al abuso de sustancias psicoactivas, entre otros.
      </p>
    </div>
  </div>
</div>
