<app-header></app-header>
<div class="container">
  <section>
    <div class="container">
      <div class="contenedorSlider">
        <div>
          <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
            <swiper class="swiper-container" fxFlex="auto" [config]="config">
              <div class="swiper-slide c1" *ngFor="let data of swipper">
                <img [src]="data.url" alt="" *ngIf="data.action"
                     style="max-width: 100% !important; margin: 0 !important;"
                     class="swiper-lazy" (click)="openDialogconsulta()">
                <img [src]="data.url" *ngIf="!data.action" alt=""
                     style="max-width: 100% !important; margin: 0 !important;"
                     class="swiper-lazy">
              </div>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="view">
    <div class="container">
      <div class="container1">
        <h1>Lo más visto</h1>
        <div class="contenimages">
          <div class="row mt-30">
            <div class="row">
              <div class="content" *ngFor="let theme of themes; let  i=index">
                <div class="box13">
                  <img [src]="theme" alt="" width="270px" height="270px"/>
                  <div class="box-content">
                    <ul class="social">
                      <li><a routerLink="/public/galeria"><i class="fa fa-search"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="container1">
        <h1>Contenido multimedia</h1>
      </div>
      <div class="container">
        <div class="card-body">
          <div class="containerimg">
            <a routerLink="/public/galeria">
              <img src="https://api.reconocimientojusticiaydesarrollo.org/images/basic/13.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
