.llamanos {
  height: 200px;
}

.columna {
  width: 33%;
  float: left;
}

.psico {
  float: left;
  margin: 10px;
  height: 200px;
}

.columna2 {
  width: 33%;
  float: left;
  margin: 33px;
}

.polpri {
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 500px) {

  .columna {
    width: auto;
    float: none;
  }

}

p {
  text-align: justify;
  width: 35vw;
}

button {
  top: 14px;
}


.btnClic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeday {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 96vw;
}

.containerinfo {
  font-size: 1rem;
}

.modalbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22vw;
  height: 6vh;
}

.astrodivider {
  margin: 64px auto;
  width: 70vw;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}

.astrodividermask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #FF9494;
}

.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #FFAEAE;
  background: #fff;
}

.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #FFAEAE;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #FF9494;
}

.contenedorSlider {
  margin-top: 5px !important;

}

.container {
  background: #FFFFFF;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 22px;
}

h1:before {
  content: '';
  left: 0;
  top: 0;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 10px;
  background: #e62948;
  text-transform: uppercase;

}

.container1 {
  height: auto !important;
}

.content {
  padding: 3px;
}

.row {
  display: flex;
  justify-content: center;
}

.view {
  margin-top: 6vw;
  height: auto !important;
}

.card-body {
  width: 100% !important;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.containerimg {
  width: 100% !important;
  height: auto !important;
}


p {
  text-align: justify;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 2.9rem;
  font-weight: bold;
  text-align: center;
}

img {
  width: 100% !important;
  cursor: pointer;
}


.directiongalery {
  font-family: 'Zilla Slab', serif;
  font-size: 1.9rem;
  margin-left: 7rem;
}

.row {
  display: flex;
  justify-content: center;
}

.content {
  padding: 3px;
}

/*hover efec images */

/*hover efec images */

.box13 {
  position: relative;
  transition: all .2s ease-out 0s
}

.box13 .box-content, .box13:after {
  position: absolute;
  left: 20px;
  right: 20px
}

.box13:after {
  content: "";
  display: block;
  background: #000000;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all .4s ease-in-out 0s
}

.box13:hover:after {
  opacity: .9;
  transform: rotate3d(0, 0, 0, 0deg)
}

.box13 img {
  width: 270px;
  height: 270px
}

.box13 .box-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(10%, -30%);
  transform: translate(10%, -30%);
  transition: all .2s ease-out 0s
}

.box13:hover .box-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: .2s
}

.box13 .title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #fcfcff;
  margin: 0 0 10px
}

.box13 .post {
  display: block;
  font-size: 15px;
  color: #fcfcff;
  margin-bottom: 20px
}

.box13 .social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center
}

.box13 .social li {
  display: inline-block;
  text-align: center
}

.box13 .social li a {
  display: block;
  width: 65px;
  height: 65px;
  background: #e62948;
  border-radius: 50%;
  font-size: 2rem;
  color: #fcfcff;
  line-height: 55px;
  margin-right: 5px;
  transition: all .4s ease-in-out 0s
}

.box14 .icon li, .box14 .post {
  display: inline-block
}

.box13 .social li a:hover {
  color: #ffffff;
  background: #c12942
}

@media only screen and (max-width: 990px) {
  .box13 {
    margin-bottom: 30px
  }
}

