<div >
  <div class="btnexit">
    <a type="button" (click)="onNoClick()"><svg class="x-29px_svg__svgIcon-use" width="29" height="29"><path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62" fill-rule="evenodd"></path></svg></a>
  </div>
</div>
<div class="container">
  <h3>Agrega un nuevo tema al foro de discusión</h3>
    <div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Nombre</label>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="consulta.nombre" type="text"
                   placeholder="Nombre" disabled>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Titulo del tema</label>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="consulta.title" type="text"
                   placeholder="titulo del tema" autofocus>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Descripción del tema</label>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <textarea  matInput [(ngModel)]="consulta.description" type="text"
                         placeholder="Describe del tema"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="button">
        <button mat-button class="btn btn-primary" (click)="savetema()" [disabled]="consulta.title == '' || consulta.description == ''">Agregar tema</button>
      </div>
    </div>
</div>
