<div class="container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header card-header-danger">
              <h4 class="card-title mt-0"> {{message| uppercase}}</h4>
              <p class="card-category">{{message1}}</p>
            </div>
          </div>
          <div>
            <button (click)="openDialogConsulta()" class="btn"><i style="font-size: .8rem"
                                                                  class="material-icons">queue</i> Crear tema
            </button>
          </div>
          <div style="height: 35vh; overflow-y: auto;">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Titulo del tema</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Mas sobre el tema</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let consulta of showconsult">
                    <th>{{consulta?.tema}}</th>
                    <th>{{fecha}}</th>
                    <td><i class="material-icons" (click)="openDialogEdit(consulta.id)"> create </i></td>
                    <td><i class="material-icons" (click)="openDialogdelete(consulta?.id)"> delete </i></td>
                    <td><i class="material-icons" [routerLink]="'/admin/informacion/'+consulta.id"> add_circle </i></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
