.container {
  background: #FFFFFF;
}


h1  {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
}

h1:before {
  content: '';
  left: 0;
  top: 0;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 10px;
  background: #e62948;
  text-transform: uppercase;

}

h5 {
  font-size: 16px;
  font-family: oswald;
  color: #e62948;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.containertittle {
  width: 50%;
  height: 25vh;
  display: flex;
  align-items: center;
}

#contact {
  position: relative;
}
#contactform {
  margin-top: 20px;
}
.contact-map {
  height: 380px;
  margin-top: 25px;
}
#contact h5, #contact p, #contact h3 {
  font-size: 16px;
  line-height: 24px;
  color: #7f8c8d;
  font-family: oswald;
}
#contact h3 {
  color: #e62948;
  text-transform: uppercase;
}
#contact p {
  font-family: open sans;
}
#contact i, #contact b {
  color: #e62948;
  float: left;
  font-size: 17px;
  padding-right: 16px;
}
#contact i {
  font-size: 23px;
}
#contact h5 {
  color: black;
  text-transform: uppercase;
}
#contact .booking-info {
  border-top: 1px solid #171717;
  border-bottom: 1px solid #171717;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 12px;
}
#contact #name, #contact #email, #contact #message, #contact input {
  width: 100%;
  border: 1px solid #202020;
}
#contact #name, #contact #email, #contact input {
  height: 46px;
  color: #fff;
  padding-left: 5px;
}
#contact #message, #contact textarea {
  height: 146px;
  padding-left: 5px;
  color: #fff;
}
#contact #submit1 {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 56px;
  text-align: center;
  font-family: oswald;
  font-size: 14px;
  background: #e62948;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
}
#contact #submit1:hover {
  background: #e62948;
  color: #FFF;
}
#valid-issue {
  margin-top: 30px;
  margin-bottom: 30px;
}
