<app-header></app-header>
<div class="container">
  <div id="ajaxArea">
    <div class="containertittle">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h1>contacto</h1>
              <h5><I></I>nformación de contacto</h5>
            </div>
          </div>
        </div>
    </div>
  </div>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <h5>Tu nombre:</h5>
              <input type="text" id="name" />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <h5>Correo electronico:</h5>
              <input type="text" name="email" id="email" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h5>Cual es tu mensaje</h5>
              <textarea name="message" id="message"></textarea>
            </div>
          </div>
          <button id="submit1" type="submit">Enviar</button>
          <div id="valid-issue" style="display:none;"> Please Provide Valid Information</div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3">
          <h3>Oficina</h3>
          <p>Carrera 4 1a-72 collarejo cartago</p>
          <i class="fa fa-mobile-phone"></i>
          <p>317.552.7562</p>
          <b class=" fa fa-envelope"></b>
          <p>tejiendo@gmail.com</p>
          <div class="booking-info">
            <h3>reserva</h3>
            <i class="fa fa-mobile-phone"></i>
            <p>1.800.987.7890</p>
            <b class=" fa fa-envelope"></b>
            <p>info@visionmax.com</p>
          </div>
          <h3>Encargado</h3>
          <i class="fa fa-mobile-phone"></i>
          <p>1.800.987.7890</p>
          <b class=" fa fa-envelope"></b>
          <p>info@visionmax.com</p>
        </div>
      </div><!--row-->
    </div><!--//container-->
  </section>
</div>
<app-footer></app-footer>
