<div class="container">
  <div class="content-msm">
    <h5>¿Esta seguro/a de que desea eliminar el tema?</h5>
  </div>
  <div class="content-opcions-after">
    <div class="content-opcions">
      <a class="delete-y" (click)="deleteService()">SI</a>
      <a class="delete-n" (click)="onNoClick()">NO</a>
    </div>
  </div>
</div>
