h5 {
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content-opcions-after {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.content-opcions {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.content-msm {
  width: 100%;
  height: 5rem;
}

.delete-y {
  color: #21BD23;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.delete-y:hover {
  color: #2DC624;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.delete-n {
  color: #FF2E2E;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.delete-n:hover {
  color: #FF542E;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}
