<div class="container">
  <div class="content-card-after">
    <div class="content-card">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="cursor: pointer">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">info</i>
              </div>
              <p class="card-category">Total</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-info">local_offer</i> Total de las solicitudes realizadas
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="cursor: pointer">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">check</i>
              </div>
              <p class="card-category">Aprobadas</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-success">check</i> Total de solicitudes aprobadas
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
