.btnexit {
  width: 100% !important;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 34vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.example-container {
  display: flex;
  flex-direction: column;

}

.example-container > * {
  width: 80%;
  height: auto !important;
}

.content-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
