<div>
  <div class="btnexit">
    <a type="button" (click)="onNoClick()">
      <svg class="x-29px_svg__svgIcon-use" width="29" height="29">
        <path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62"
              fill-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</div>
<div>
  <h2>Editar tema</h2>
</div>
<div class="container">
  <div class="example-container">
    <form [formGroup]="updateForm">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <p>Titulo del tema</p>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input formControlName="titulo_tema" matInput placeholder="Input">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <p>Descrición del tema</p>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <textarea formControlName="descripcion_tema" matInput placeholder="Textarea"></textarea>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="content-button">
        <button mat-button class="btn btn-primary" (click)="Edittema()" >
          Editar tema
        </button>
      </div>

    </form>
  </div>
</div>
