<div class="btnexit">
  <a type="button" (click)="onNoClick()">
    <svg class="x-29px_svg__svgIcon-use" width="29" height="29">
      <path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62"
            fill-rule="evenodd"></path>
    </svg>
  </a>
</div>
<div class="container">
  <h4>Agrega un nuevo comentario</h4>
  <div>
    <div>
      <div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-md-right">Nombre</label>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="consulta1.nombre" type="text"
                     placeholder="Nombre" disabled>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-md-right">Correo electronico</label>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="consulta1.correo" type="text"
                     placeholder="Correo electronico" disabled>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-md-right">Comentario</label>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
        <textarea matInput [(ngModel)]="consulta1.comentario" placeholder="Tu comentario" type="text"
                  required></textarea>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="modalbutton">
            <button type="button" class="btn btn-outline-success"
                    (click)="save1date()" [disabled]="consulta1.comentario == ''">Enviar respuesta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
