.modalbutton {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

p {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

input {
  font-size: 1rem;
}

textarea {
  font-size: 1rem;
}

.btnexit {
  width: 100% !important;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

a {
  margin-right: inherit;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 50%;
}

.content-comentary {
  width: 100% !important;
  height: auto !important;
}

h4 {
  text-align: center;
}
