<app-header></app-header>
<div class="container">
  <section>
    <div class="container1">
      <button mat-button routerLink="/public/foro" class="regresar"><i class="material-icons">
        navigate_before
      </i> Regresar al foro
      </button>
    </div>
  </section>
  <section>
    <div class="container">
      <div style="height: 55vh; overflow-y: auto;">
        <div class="container mt-5">
          <ul class="list-group list-group-flush">
            <div class="container">
              <mat-card class="example-card">
                <div class="list-group-item col-8">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                      <i class="material-icons" style="font-size: 3rem; color: #D4D4D4">
                        assignment
                      </i>
                    </div>
                    <mat-card-title class="tittle-name-person">{{consul?.nombre}}</mat-card-title>
                    <mat-card-subtitle class="subtittle-date">{{fecha}} <span></span></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p class="comentary">
                      {{consul?.descripcion}}
                    </p>
                    <mat-card-actions>
                      <a (click)="opendialog()"><span class="fa fa-plus-circle" style="font-size: 1rem;"></span> Agregar comentario</a>
                    </mat-card-actions>
                  </mat-card-content>
                </div>
                <div class="list-group-item col-8">
                  <mat-card-content *ngFor="let consultacoemnt of showcomments">
                    <div class="content-comentary-after">
                      <div class="card-content-comenatry">
                        <div class="content-comentary-internal">
                          <h6>{{consultacoemnt.nombre}} <p class="comentary">{{consultacoemnt?.comentario}}</p>
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="card-content-reply" *ngFor="let respuesta of consultacoemnt?.respuestas">
                      <div class="content-reply-internal">
                        <h5>{{respuesta?.nombre}} <p class="reply">{{respuesta?.respuesta}}</p></h5>
                      </div>
                    </div>
                  </mat-card-content>
                </div>
              </mat-card>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
