fieldset {
  width: 45vw;
  height: auto;
  border: none;
}

.x-large-textarea textarea {
  font-family: Courier, sans-serif;
  height: 34em;
  width: 700px;
}

.buttons {
  width: 23vw;
  display: flex;
  justify-content: space-between;
}

.example-card1 {
  margin-top: 13px;
  max-width: 94%;
  background: #FAFAFA;
}

.example-header-image {
  background-size: cover;
}

.regresar {
  top: 1vw;
  color: #FF2E2E;
  background: none;
  border: none;
  animation: none;
}

.container1 {
  width: 100%;
  height: 10vh;
}


.example-card {
  margin-top: 12px;
  max-width: 95%;
  background: #ffffff;
  border-radius: 1rem;
}


a {
  text-decoration: none;
  color: #1E408F;
  font-size: 1rem;
  cursor: pointer;
  transition: font-weight .8s, font-size .8s;
}


h4 {
  font-size: .7em;
}

mat-card {
  border: none;
}

.container {
  background: #FFFFFF;
}

h1  {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 35px;
}

h1:before {
  content: '';
  left: 0;
  top: 0;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 10px;
  background: #e62948;
  text-transform: uppercase;

}

.tittlecontent1 {
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.content-email {
  color: #1E408F;
  text-decoration: #1E408F !important;
  font-size: .7rem;
  font-weight: bold;
}

.content-email:hover {
  color: #1E408F;
  text-decoration: #1E408F !important;
  font-weight: bold;
}

.content-name {
  color: black;
  font-size: .9rem;
}

.content-comentary-after {
  width: auto !important;
  height: auto !important;
}
.card-content-comenatry {
  width: 80% !important;
  border-radius: 10px;
  background: #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-comentary-internal {
  width: 90%;
  height: auto !important;
  padding: 1px;
}

.comentary {
  font-weight: normal;
  font-size: .8rem;
  word-wrap: break-word;
}

.card-content-reply {
  width: 70% !important;
  border-radius: 10px;
  margin-top: 5px !important;
  background: #D7D7D7;
  margin-left: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-reply-internal {
  width: 90%;
  height: auto !important;
  margin-left: 1rem;
}

.reply {
  font-weight: normal;
  font-size: .7rem;
  word-wrap: break-word;
}
