<nav class="navbar navbar-expand-lg navbar-light" style="background: #ee6e73;">
  <a class="navbar-brand" routerLink="/"><img class="logo1" src="assets/img/basic/logo.png" alt="" width="65px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color: white;" class="nav-link" routerLink="/">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="!inicioSesionOff">
        <a style="color: white;" class="nav-link" routerLink="/public/afroplay">AfroChannel</a>
      </li>
      <li class="nav-item" *ngIf="!inicioSesionOff">
        <a style="color: white;" class="nav-link" routerLink="/public/programacion">Programación</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" routerLink="/public/foro">Foro</a>
      </li>
      <li class="nav-item" *ngIf="!inicioSesionOff">
        <a style="color: white;" class="nav-link" routerLink="/public/cursovirtual">Curso virtual</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" routerLink="/public/galeria">Multimedia</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" routerLink="/public/quienessomos">Conócenos</a>
      </li>
      <li class="nav-item" *ngIf="!inicioSesionOff">
        <a style="color: white;" class="nav-link" routerLink="/public/contacto">Contacto</a>
      </li>
    </ul>
    <span class="navbar-text">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="inicioSesionOff">
              <a class="nav-link" style=" font-weight: bold; color: white"
                 (click)="openDialogregistrer()">Subcrbirse</a>
            </li>
            <li class="nav-item" *ngIf="inicioSesionOff">
              <a class="nav-link" style="font-weight: bold; color: white" (click)="openDialoglogin()">Inicia sesión</a>
            </li>
            <li class="nav-item" *ngIf="!inicioSesionOff">
           <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <i class="material-icons" style="color: white; font-size: 3rem">
              keyboard_arrow_down
              </i>
           </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                 <mat-icon>account_circle</mat-icon>
                <span>Pefil</span>
              </button>
               <button mat-menu-item (click)="closesession()">
                 <mat-icon>close</mat-icon>
                <span>Cerrar sesión</span>
              </button>
             </mat-menu>
         </li>
        </ul>
    </span>
  </div>
</nav>
