a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color .5s, font-weight .5s, font-size .5s;
}

a:hover {
  color: #f9f9f9;
  font-weight: bold;
  font-size: 1.1rem;
}

@media (min-width: 992px) {
.navbar-expand-lg {

}
}

mat-menu {
  width: 13% !important;
  height: auto !important;
}



