.navbar-brand {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-right: 0;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  overflow: hidden;
}
