<div class="container">
  <div class="navbar-expand">
    <div _ngcontent-c3="" class="navbar-wrapper">
      <a _ngcontent-c3="" class="navbar-brand" routerLink="/admin">Dashboard</a>
    </div>
  </div>
</div>
