<html>
<body>
<div class="row">
  <div class="content-sidenav-partition">
    <div class="sidenav">
      <div class="logo">
        <a class="simple-text">
          <div class="logo-img">
            <img src="/assets/img/basic/logo-dashboard.png"/>
          </div>
          Tejiendo vinculos
        </a>
      </div>
      <div class="sidebar-wrapper">
        <div class="sidebar-wrapper">
          <ul class="sidebar-navigation">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLink="/admin" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i> {{menuItem.title}}
              </a>
            </li>
            <li>
              <a (click)="closesession()">
                <i class="material-icons">close</i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-index-partition">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>
