body {
  width: 100vw !important;
  height: -webkit-fill-available !important;
  overflow: hidden !important;
  background: none !important;
}

html {
  height: -webkit-fill-available !important;
  background: #EFEFEF !important;
  overflow: hidden !important;
}
a {
  cursor: pointer;
}

.content-sidenav-partition {
  width: 18% !important;
  height: 100% !important;
  background: white !important;
  overflow: hidden;
}

.content-index-partition {
  width: 82% !important;
  height: 100% !important;
  overflow: hidden;
}

.sidenav {
  background: white !important;
  height: 100vh !important;
  overflow: hidden;
}

.logo {
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, .3);

  }

  p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: black;
    line-height: 20px;
  }

  .simple-text {
    text-transform: uppercase;
    display: inline-block;
    font-size: 5px;
    color: black;
    white-space: nowrap;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
  }
}

.logo {
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, .3);

  }

  .simple-text {
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
  }
}

.logo-img {
  width: 35px;
  display: block;
  max-height: 30px;
  margin-left: 13px;
  margin-right: 15px;

  img {
    width: 30px;
    top: 16px;
    position: absolute;
  }
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 10px;
}

.sidebar-navigation li a {
  padding: 30px 15px 10px 30px;
  display: block;
  color: black;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}
