<!-- Footer -->
<footer class="page-footer font-small" style="background: #e62948;;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase1">Paginas</h5>

        <ul class="sitemap">
          <li class="active dropdown"><a routerlink="/">Inicio</a></li>
          <li class="yamm-fw dropdown"><a routerLink="foro">Foro</a></li>
          <li class="dropdown"><a routerLink="quienessomos">Conocenos</a></li>
          <li class="yamm-fw dropdown"><a routerLink="cursovirtual">Curso Virtual</a></li>
          <li class="dropdown"><a routerLink="galeria">Galeria</a></li>
          <li class="yamm-fw dropdown"><a routerLink="contacto">Contacto</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Redes sociales</h5>

        <ul class="list-unstyled">
          <ul class="sitemap">
            <li><a href="https://www.facebook.com/Tejiendo-V%C3%ADnculos-1415826481833833/"><span class="fa fa-facebook"> Facebook</span></a></li>
            <li ><a href=""><span class="fa fa-twitter"> Twitter</span></a></li>
            <li ><a href=""><span class="fa fa-instagram"> Instagram</span></a></li>
            <li ><a href="https://co.linkedin.com/in/ana-isabel-hurtado-cu%C3%A9llar-39028213b?trk=people-guest_profile-result-card_result-card_full-click"><span class="fa fa-linkedin"> Linkedin</span></a></li>
          </ul>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Informacion</h5>

        <ul class="sitemap">
          <li><a href="#"><span class="fa fa-phone"> 313 471 1120</span></a></li>
          <li ><a href="#"><span class="fa fa-c"> Twitter</span></a></li>
          <li ><a href="#"><span class="fa fa-google"> Instagram</span></a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->

  <!-- Copyright -->

</footer>
