.logo2{
  margin-left: 162px;
  margin-top: -36px;
}
.css{
  background: #e62948;
  color: white;
}
.test{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 95px;
  height: 100px;
}
div {
  max-width: 100vw;
}

a {
  color: white;
}

.footer-copyright {
  text-align: center;

}

.text-uppercase1 {
  color: white;
  font-weight: bold;
  margin-left: 12vw;
  text-transform: uppercase!important;
}

h5 {
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 8px;
}

li {
 list-style-type: none;
}
