<div>
  <div class="btnclsalir">
    <a type="button" (click)="onNoClick()">
      <svg class="x-29px_svg__svgIcon-use" width="29" height="29">
        <path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62"
              fill-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</div>
  <h4>Obtén nuestra membresia gratuita</h4>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form class="form-horizontal" [formGroup]="firstFormGroup">

            <h5>Nombre completo</h5>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ingresa su nombre completo" required formControlName="nombre">
            </mat-form-field>

            <h5>Fecha de nacimiento</h5>
            <mat-form-field class="input">
              <input matInput placeholder="Selecciona su fecha de nacimiento" [matDatepicker]="fecha_nacimiento"
                     formControlName="fecha_nacimiento" disabled required>
              <mat-datepicker-toggle matSuffix [for]="fecha_nacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fecha_nacimiento disabled="false"></mat-datepicker>
            </mat-form-field>

            <h5>Numero de teléfono</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Ingrese su numero de teléfono" required
                     formControlName="telefono">
            </mat-form-field>

            <h5>Lugar de residencia</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Ingrese  su lugar de residencia" required
                     formControlName="ciudad">
            </mat-form-field>

            <h5>Tipo de documento</h5>
            <mat-form-field>
              <mat-label>Seleccione el tipo de documento</mat-label>
              <mat-select matNativeControl required formControlName="tipo_documento">
                <mat-option value="C.C.">C.C.</mat-option>
                <mat-option value="T.I.">T.I.</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <div class="col-md-6">
          <form class="form-horizontal" [formGroup]="firstFormGroup">

            <h5>Numero de documento</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Ingrese su numero de documento" required
                     formControlName="numero_documento">
            </mat-form-field>

            <h5>Correo electrónico</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="email" placeholder="Ingresa su correo electrónico" required
                     formControlName="correo">
            </mat-form-field>

            <h5>Contraseña</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Ingrese su contraseña" required
                     formControlName="contrasena"  type="{{type}}">
             <span><i mz-icon-mdi mz-input-prefix class="material-icons" (click)="showPassword()">
               {{icon}}
             </i></span>
            </mat-form-field>

            <h5>Confirmar contraseña</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Ingrese nuevamente su contraseña" required
                     formControlName="confirmar_contrasena" type="{{type1}}">
              <span><i mz-icon-mdi mz-input-prefix class="material-icons" (click)="showPassword1()" >
              {{icon1}}
              </i></span>
            </mat-form-field>


            <div class="contentbutton">
              <button type="button" class="btn btn-success" (click)="saveRegister()">Obtener subcripcion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
