.btnclsalir {
  width: 100% !important;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}


h4 {
  text-align: center;
}

.contentbutton {
  height: 4vh;
}

span {
  margin-left: 12rem;
}

i {
  cursor: pointer;
}
