.btnclsalir {
  width: 100% !important;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

mat-card-title {
  text-align: center;
}

i {
  cursor: pointer;
  margin-left: 1px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

h4 {
  text-align: center;
}
