<div>
  <div class="btnclsalir">
    <a type="button" (click)="onNoClick()">
      <svg class="x-29px_svg__svgIcon-use" width="29" height="29">
        <path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62"
              fill-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</div>
  <h4>Iniciar sesión</h4>
    <form action="" method="" [formGroup]="firstFormGroup" (submit)="auth(firstFormGroup)">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Correo electrónico</label>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Ingrese su correo electronico" required formControlName="correo">
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Contraseña</label>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Ingrese su contraseña" required formControlName="contrasena">
          </mat-form-field>
        </div>
      </div>



      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary" [disabled]="firstFormGroup.invalid">
          Ingresar
        </button>

      </div>
<!--      <div class="col-md-6 offset-md-4">-->
<!--        <a href="#" class="btn btn-link">-->
<!--          Has olvidado tu contraseña?-->
<!--        </a>-->
<!--      </div>-->
    </form>
