/* You can add global styles to this file, and also import other style files */

html, body { height: -webkit-fill-available;   background: #EFEFEF;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: #EFEFEF;}
.add {
  background: transparent !important;
  color: transparent !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
}

.edd {
  background: transparent !important;
  color: transparent !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
}

.edit {
  color: black !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
  background: white url('assets/img/basic/Logo2.png') no-repeat center !important;
  background-size: contain !important;
  border-radius: 15px !important;
}

.tema {
  color: black !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
  background: white url('assets/img/basic/Logo2.png') no-repeat center !important;
  background-size: contain !important;
  border-radius: 15px !important;
}

.delete {
  color: black !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
  background: white url('assets/img/basic/Logo2.png') no-repeat center !important;
  background-size: contain !important;
  border-radius: 15px !important;
}

.login {
  color: black !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
  background: white url('assets/img/basic/Logo2.png') no-repeat center !important;
  background-size: contain !important;
  border-radius: 15px !important;
}

.register {
  color: black !important;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0)!important;
  background: white url('assets/img/basic/Logo2.png') no-repeat center !important;
  background-size: contain !important;
  border-radius: 15px !important;
}
