<!--<div >-->
<!--  <div class="btnexit">-->
<!--    <a type="button" (click)="onNoClick()"><svg class="x-29px_svg__svgIcon-use" width="29" height="29"><path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62" fill-rule="evenodd"></path></svg></a>-->
<!--  </div>-->
<!--<mat-card>-->
<!--  <mat-card-title>Agrega un nuevo tema al foro de discusion</mat-card-title>-->
<!--  <mat-card-content>-->
<!--    <div>-->
<!--      <div class="form-group">-->
<!--        <label for="title">Titulo del tema</label>-->
<!--        <input [(ngModel)]="consulta.title" type="text" class="form-control" id="title"-->
<!--               placeholder="titulo del tema">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="description">Descripcion del tema</label>-->
<!--        <textarea [(ngModel)]="consulta.description" type="text" class="form-control" id="description"-->
<!--                  placeholder="Describe del tema"></textarea>-->
<!--      </div>-->
<!--      <div class="button">-->
<!--        <button mat-button (click)="savetema()" [disabled]="consulta.title == '' || consulta.description == ''">Agregar tema</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
