.button {
  width: 34vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.form-group {
  width: 34vw;
}

.btnexit {
  width: 100% !important;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

label {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

mat-card-content {
  width: 40vw;
}

button {
  color: #ffffff;
  background: #32A1F2;
}
