<app-header></app-header>
<div class="container">
  <section>
    <div class="hcontent">
      <h1>Foro</h1>
    </div>
    <div class="tablita">
      <div style="height: 5vh; ">
        <h2  style="font-weight: bold"><i style="font-size: 2rem;" class="material-icons">forum</i> cantidad de temas ({{showconsult.length}})</h2>
      </div>
      <div style="height: 55vh; overflow-y: auto;">
        <mat-card class="example-card" *ngFor="let consulta of showconsult" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i class="material-icons" style="font-size: 3rem; color: #FF4747">
                assignment
              </i>
            </div>
            <mat-card-title class="tittlecard1">{{consulta.tema}}</mat-card-title>
            <mat-card-title class="tittlecard2"> <span class="contenttext"></span><p>{{consulta.nombre}}</p></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <a [routerLink]="'/public/description/'+consulta.id"><span class="fa fa-plus-circle" style="font-size: 1.5rem;"></span> Mas información</a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
