.alg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px;
}
.test{
  background: coral;
}
.boton{
  margin-top: 33px;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.hcontent {
  width: 100% !important;
  height: 5vw;
  display: flex;
  align-items: center;
}

i {
  cursor: pointer;
  left: 7px;
}



.example-card {
  margin-top: 12px;
  max-width: 63%;
  background: #FAFAFA;
  transition: background .9s, max-width .9s, margin-top .9s;
}

.example-card:hover {
  max-width: 64%;
  background: #EDEDED;
  margin-top: 14px;
}

a {
  text-decoration: none;
  color: #1E408F;
  font-size: 1rem;
  transition: font-weight .8s, font-size .8s;
}

a:hover {
  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  background: #FFFFFF;
}

h1  {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 35px;
}

h1:before {
  content: '';
  left: 0;
  top: 0;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 10px;
  background: #e62948;
  text-transform: uppercase;

}

.tittlecard1 {
  font-size: 1rem;
  font-weight: bold;
}

.tittlecard2 {
  font-size: .7rem;
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contenttext {
  font-size: .9rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
