p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: justify;
  margin-left: 1vw;
}

.container {
  background: #FFFFFF;
}

h1  {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 22px;
  font-weight: bold;
}

h1:before {
  content: '';
  left: 0;
  top: 0;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 10px;
  background: #e62948;
  text-transform: uppercase;

}

.hcontent {
  width: 100% !important;
  height: 5vw;
  display: flex;
  align-items: center;
}

