<app-header></app-header>
<div class="container">
  <section>
    <div class="container">
      <div class="mer">
        <div class="hcontent">
        <h1 class="mer">Historia</h1>
        </div>
        <div class="pcontent">
        <p>La escuela de paz y convivencia es el programa insignia de la “fundación fondo mixto para la etnocultura,
          memoria y convivencia” institución de naturaleza mixta que se constituyó en diciembre de 2016, por alianza
          entre
          la Gobernación del Chocó, el apoyo de la Diócesis de Istmina-Tado y la agencia de desarrollo local Tatamá. Se
          crea en el marco de la ordenanza Departamental 024 de 2016, la ley 397 de 1997 y la ley 489 de 1989. Este
          programa hace parte del plan Departamental de desarrollo 2016-2019.</p>
        <p>Se implementó como una estrategia basada en la evidencia y las TIC de promoción de la cultura de paz y la
          convivencia ciudadana para resistir a violencia, las presiones al consumo de drogas y al delito a través de la
          cultura, las artes, la cultura ciudadana, el fortalecimiento de redes de apoyo, la apropiación de competencias
          sociales, el uso adecuado del tiempo libre, la memoria histórica, la investigación y la empleabilidad.</p>
        </div>
      </div>
      <div class="mer"><h1>Misión</h1>
        <p>Contribuir a la paz y la convivencia pacífica mediante la comunicación y la educación en competencias
          ciudadanas, la cultura y las artes, la empleabilidad.</p>
      </div>

      <div class="mer">
        <div class="hcontent">
          <h1>Visión</h1>
        </div>
        <p>Un país en paz, con espíritu emprendedor, incluyente, equitativo, respetuoso de la vida, los derechos
          humanos,
          la cultura y el medio.</p>
      </div>

      <div>
        <div class="hcontent">
        <h1 class="mer">Filosofía.</h1>
        </div>
        <p>En la escuela de paz y convivencia creemos en:</p>

        <p>El reconocimiento de la otredad como fundamento de la convivencia pacífica.</p>
        <p>En la importancia del desarrollo de capacidades, oportunidades como herramienta para disfrutar el bienestar y
          las libertades
          En la paz, los derechos humanos en general, y la participación democrática como parte esencial del estado
          social
          de derecho.
          La educación y la cultura como motor para el desarrollo humano, social sostenibles.</p>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
