<app-header></app-header>
<div class="container" style="background: white">
  <section>
    <div class="container">
      <div class="hcontent">
        <h1>Galeria</h1>
      </div>
    </div>
  </section>
  <section>
    <div class="contenimages">
      <div class="row mt-30">
        <div class="row">
          <div class="content" *ngFor="let image of images;let  i=index">
            <div class="box13">
              <img [src]="image" alt="" width="270px" height="270px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="hcontent">
        <h1>Videos</h1>
      </div>
    </div>
  </section>
  <section>
    <div class="containervidep">
      <div class="row mt-30">
        <div class="row">
          <div class="content" *ngFor="let video of videos;let  i=index">
            <div class="video1">
              <video [src]="video" src="" width="300" height="200"
                     controls></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
