h1 {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
}

h1:before {
  content: '';
  left: 0;
  top: 0;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 10px;
  background: #e62948;
  text-transform: uppercase;

}

.hcontent {
  width: 100% !important;
  height: 5vw;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.content {
  padding: 3px;
}

.containervidep {
  width: 100% !important;
  height: auto !important;
}


/*hover efec images */

.box13 {
  position: relative;
  transition: all .2s ease-out 0s
}

.box13 .box-content, .box13:after {
  position: absolute;
  left: 20px;
  right: 20px
}


.box13 img {
  width: 270px;
  height: 270px
}

.box13 .box-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(10%, -30%);
  transform: translate(10%, -30%);
  transition: all .2s ease-out 0s
}


.box13 .title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #fcfcff;
  margin: 0 0 10px
}




.box13 .social li {
  display: inline-block;
  text-align: center
}

.box13 .social li a {
  display: block;
  width: 65px;
  height: 65px;
  background: #e62948;
  border-radius: 50%;
  font-size: 2rem;
  color: #fcfcff;
  line-height: 55px;
  margin-right: 5px;
  transition: all .4s ease-in-out 0s
}

.box14 .icon li, .box14 .post {
  display: inline-block
}

.box13 .social li a:hover {
  color: #ffffff;
  background: #c12942
}

@media only screen and (max-width: 990px) {
  .box13 {
    margin-bottom: 30px
  }
}

.space-between {
  justify-content: space-between !important;
}

